[Desktop Entry]
Name=JASP
Comment=Statistical analysis package
Keywords=statistics;data
Exec=LD_LIBRARY_PATH=/app/lib/x86_64-linux-gnu/ QML2_IMPORT_PATH=$QML2_IMPORT_PATH:/app/qml org.jaspstats.JASP %f
Terminal=false
Type=Application
MimeType=application/jasp
StartupWMClass=org.jaspstats.JASP
StartupNotify=true
Icon=org.jaspstats.JASP
